* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    background-image: url("backgroundimg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    padding: 50px 0 50px 0;
    position: relative;
    
}

.heading {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.search-bar{
    display: flex;
    justify-content: center;
}

#search_expense {
    align-self: center;
    width: 80%;
    height: 50px;
    padding: 20px;
    border-radius: 40px;
    font-size: 15px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/500px-Search_Icon.svg.png?20181016161702');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: right;
    background-position-x: 97%;
}

.all-filters{
    position: absolute;
    left: 11%;
    top:220px;
    height: 34px;
    width: 170px;
    border:none;
    border-radius: 40px;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.2);
}
.all-filters:active{
    border: none;
}
.all-expenses{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.expense{
    background-color: rgba(239, 238, 238, 0.9);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 80px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    width: 80%;
}
.expense_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 20px 0 20px;
    height: 63%;
}
.expense[data-color="green"]>header{
    background-color: rgb(7, 214, 7);
}
.expense[data-color="green"]>.expense_details>h6{
    color: rgb(6, 192, 6);
}
.expense[data-color="red"]>header{
    background-color: rgb(211, 15, 15);
}
.expense[data-color="red"]>.expense_details>h6{
    color: rgb(177, 9, 9);
}
header{
    height: 6px;
}
#date_time{
    padding: 6px 0 0 10px;
    font-size: 13px;
    font-weight: 100;
    font-style: italic;
    color: rgb(72, 71, 71);
    
}

.expense_details_name{
    display: flex;
    flex-direction: row;
}
.expense_details>.expense_details_name>p{
    font-family: "Bebas Neue", sans-serif;
    font-size: 33px;
    letter-spacing: 1.5px;
    align-self: center;
    color: rgb(67, 67, 67);
}
.expense_details_name>span{
    color: rgb(73, 72, 72);
    align-self: center;
    margin-left: 10px;
    font-size: 20px;
    font-style: italic;
}
.expense_details>h6{
    font-size: 25px;
    position: absolute;
    right: 20px;
    bottom:15px;
    align-self: center;
}
.delete{
    position: absolute;
    top:15px;
    right: 8px;
    font-size: 10px;
    color: grey;
}
.delete:hover{
    cursor: pointer;
}
.delete_modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.delete_box{
    width: 400px;
    background-color: rgb(215, 213, 213);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
}
.delete_box>h2{
    text-align: center;
}
.danger{
    font-size: 23px;
    color: rgb(161, 4, 4) !important;
    
}
.delete_box>span{
    background-color: rgba(255, 0, 0, 0.312);
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.delete_box>h2{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    margin-top: 10px;
}
.delete_box>p{
    color: rgb(88, 88, 88);
    font-style: italic;
    line-height: 15px;
    margin-bottom: 10px;
}
.buttons{
    display: flex;
    flex-direction: column;
}
.delete_box>.buttons>button{
    height: 35px;
    width: 300px;
    border-radius: 5px;
}
#delete{
    margin-bottom: 10px;
    border: none;
    background-color: rgb(161, 4, 4);
    color: white;   
}
#dont-delete{
    border: 0.5px solid black;
}
#delete:hover{
    cursor: pointer;
    background-color: rgb(127, 29, 29);
}
#dont-delete:hover{
    cursor: pointer;
    background-color: rgb(225, 223, 223);
}
.back{
    position: absolute;
    top:25px;
    left:27px;
    color: rgb(218, 215, 215);
    font-size: 15px;
    font-style: italic;
 
}
.dashboard{
    position: absolute;
    top:20px;
    left:43px;
    color: rgb(218, 215, 215);
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.dashboard:hover{
    cursor: pointer;
    text-decoration: underline;
}
.no-expense{
    color: rgb(200, 199, 199);
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}

#search_date {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    position: relative;
    left:85%;
    top:20px;
}

.search{
    position: relative;
    left: 82%;
    display: flex;
    font-style: italic;
}
.search>p{
    color: rgb(227, 223, 223);
}
.search>i{
    margin-left: 5px;
    font-size: 17px;
    color: white;
}
.search>i:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.refresh{
    color: rgb(223, 218, 218);
    font-style: italic;
    text-align: center;
    position: relative;
    top: 20px;
}

/* RESPONSIVE */

@media (max-width: 900px){
    .search{
        left: 75%;
    }
    #search_date{
        left: 85%;
    }
}


@media (max-width:585px){
    .heading{
        font-size: 35px;
    }
    .dashboard{
        font-size: 15px;
        top: 20px;
    }
    .back{
        font-size: 10px;
        left: 30px;
        top: 23px;
    }
    #search_expense{
        height: 20px;
    }
    .search{
        left: 60%;
    }
    .all-filters{
        top: 170px;
        height: 27px;
        width: 150px;
        font-size: 13px;
    }
    .expense{
        margin-bottom: 15px;
    }
    .expense_details_name{
        width: 75%;
    }
    .expense_details>.expense_details_name>p{
        font-size:18px;
        letter-spacing: 1px;
        
    }
    .expense_details_name>span{
        font-size: 15px;
    }
    .expense_details>h6{
        font-size: 20px;
    }
    .delete_box{
        width: 80%;
    }
    .delete_box>.buttons>button{
        width: 250px;
    }
    .no-expense{
        font-size: 20px;
    }
}